doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Archipelago
    link(rel='stylesheet' href='libs/bootstrap.min.css')
    script(src='/libs/jquery-2.2.4.min.js')
    script(src='/libs/bootstrap.min.js')
  body
    nav.navbar.navbar-default.navbar-static-top
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button' data-toggle='collapse' data-target='#navbar')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') Archipelago
        .collapse.navbar-collapse#navbar.navbar-right
          ul.nav.navbar-nav
            li
              a(href='#') First link
            li
              a(href='#') Second link
            li
              a(href='#') Third link
            li
              a(href='#') Fourth link
    .container-fluid
      .row
        #body.col-md-8
          h1 Body
          p Commodi quos nesciunt porro explicabo laborum. Hic aut rerum id excepturi voluptatem vero sapiente. Vitae aut dicta quas dolorum sed et. Assumenda sint laboriosam aperiam. Sit perspiciatis sed voluptas. Sint ut qui doloribus aspernatur fugit. Voluptatem voluptatibus suscipit impedit eos sapiente. Adipisci dicta exercitationem eaque nostrum consectetur accusantium eius impedit. Aut voluptas accusantium nulla sit et qui architecto. Esse sed neque dolore ut. Aut qui voluptates sint debitis quis perferendis. Id voluptates aut mollitia qui dolor. Debitis suscipit qui recusandae aut est. Accusamus quidem velit iusto aut vel ut voluptates molestiae. Est error laudantium qui magnam laborum voluptate. Voluptas ex eos dignissimos veniam tenetur soluta non. Nihil totam consequuntur sunt libero autem exercitationem ullam. Vel ut dignissimos vel fugiat. Sapiente praesentium rerum nulla omnis. Sequi ut praesentium assumenda pariatur modi atque cupiditate.
        .col-md-4
          .row
            #right.col-md-12
              h1 Right
              p Neque enim enim voluptas. Voluptatem laborum deserunt sint amet inventore. Aliquid recusandae et quia sit vel non ratione voluptas. Eligendi voluptatem sapiente repellendus deserunt. Quia et quisquam officia repellat qui qui occaecati.
          .row
            #bottom.col-md-12
              h1 Bottom
              p Accusamus labore eligendi quo qui totam. Officia optio similique hic.
