doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Archipelago
    link(rel='stylesheet' href='libs/bootstrap.min.css')
    script(src='/libs/jquery-2.2.4.min.js')
    script(src='/libs/bootstrap.min.js')
  body
    p Welcome to Archipelago