extends layout

block main
  include ./parts/movie_mosaic.pug

block right
  h1 Right
  p Neque enim enim voluptas. Voluptatem laborum deserunt sint amet inventore. Aliquid recusandae et quia sit vel non ratione voluptas. Eligendi voluptatem sapiente repellendus deserunt. Quia et quisquam officia repellat qui qui occaecati.

block bottom
  h1 Bottom
  p Accusamus labore eligendi quo qui totam. Officia optio similique hic.
