.row
  .col-sm-4.col-sm-offset-4
    h2=__('Login_title')
form(action='/login' method='post').form-horizontal.row
  .form-group
    label(for='inputRegisterLogin').control-label.col-sm-3=__('Login_field')
    .col-sm-8
      input(type='text' name='login' required).form-control#inputRegisterLogin
  .form-group
    label(for='inputRegisterPassword').control-label.col-sm-3=__('Password')
    .col-sm-8
      input(type='password' name='password' required).form-control#inputRegisterPassword
  .form-group
    .col-sm-offset-3.col-sm-8
      button(type='submit').btn.btn-default=__('Login_submit')